# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and build
node_modules
dist
dist-ssr
*.local

# Supabase local dev
.supabase/
.supabase/config.toml
.supabase/migrations/*
supabase/.temp/

# Environment variables
.env.local
.env
.env.*

# Editor/IDE/OS
.vscode/
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
